<h1>All Users</h1>

<% @users.each do |user| %>
    <%= link_to "#{user.first_name} #{user.last_name}", user %><br>
    <ul>
    <% user.fluencies.each do |fluency| %>
        <li><%= fluency.language.name %>
        <%= fluency.experience.level %></li>
    <% end %>
    </ul>
    
<% end %>
