 <h1> Sign Up </h1>
 <% if flash[:errors]%>
  <h3>Error creating Account</h3>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>
 <%= render partial: 'form', locals: {button_text: "Create Account"}%> 
 <a> password must contain 8-20 characters,</a><br> 
  <a>and must conatin at least 1: number,</a><br>
  <a>1 uppercase letter, </a><br>
  <a>1 lowercase letter,</a> <br>
  <a>and 1 symbol </a><br>
  