<h1>Welcome to Speak Global</h1>
<% if !logged_in? %>
  <%= button_to "Sign Up", "signup", method: :get%><br>
  <%= button_to "Log In", "login", method: :get%>
<% end %>

<img class="mfp-img" src="http://www.lanoticia.com/wp-content/uploads/2018/05/dreamstime_s_55150268.jpg" style="max-height: 326px;">
<h4> Have you ever wanted to learn another language without paying an arm and a leg?</h4>
<h4> With Speak Global, make those dreams come true!</h4>
<h4> Connect with users around the world </h4>
